<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="customerRepositoryFactory"
          class="com.company.factory.CustomerRepositoryFactory" />

    <bean id="customerRepository1"
          factory-bean="customerRepositoryFactory"
          factory-method="getNewInstance">
    </bean>

    <!-- 2-->
    <bean id="dummyDataSource"
          class="com.company.rental.DummyDataSourceImpl"/>

    <bean id="customerRepository"
          class="com.company.rental.RentalRepositoryImpl" >
        <property name="datasource" ref="dataSource-foo" />
    </bean>
    <bean id="rentalRepositoryID"
            class="com.company.rental.RentalRepositoryImpl">
        <property name="datasource" ref="dummyDataSource" />
    </bean>

    <bean id="rental_rentalService" scope="prototype"
          class="com.company.rental.RentalServiceImpl" >
        <property name="customerRepository"
                  ref="customerRepository1" />
        <property name="rentalRepository"
                  ref="rentalRepositoryID" />
    </bean>


</beans>